In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#importing traing and testing datset provided
df_train=pd.read_csv("train.csv")
df_test=pd.read_csv("test.csv")
df_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

# Checking for any null values in the dataset

In [3]:
df_train.columns[df_train.isnull().any()]

Index([], dtype='object')

In [4]:
df_test.columns[df_test.isnull().any()]

Index([], dtype='object')

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

# Comparing unique values for training and testing data to check the biasing

In [6]:
categorical_train=df_train.select_dtypes(exclude=["int64","float64"])
categorical_test=df_test.select_dtypes(exclude=["int64","float64"])

In [7]:
train_columns=list(categorical_train.columns)
test_columns=list(categorical_test.columns)

for i in train_columns:
    if categorical_train[i].nunique() == categorical_test[i].nunique():
        print(i,"True")
    else:
        print(i,"False")

X0 False
X1 True
X2 False
X3 True
X4 True
X5 False
X6 True
X8 True

From the above we found that there are no null values in the dataset

# Applying Label Encoding for all the columns in the data_set

In [8]:
categorical_train.columns

Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype='object')

In [9]:
from sklearn.preprocessing import LabelEncoder
encode=LabelEncoder()

#for training data
df_train['X0'] = encode.fit_transform(df_train['X0'])
df_train['X1'] = encode.fit_transform(df_train['X1'])
df_train['X2'] = encode.fit_transform(df_train['X2'])
df_train['X3'] = encode.fit_transform(df_train['X3'])
df_train['X4'] = encode.fit_transform(df_train['X4'])
df_train['X5'] = encode.fit_transform(df_train['X5'])
df_train['X6'] = encode.fit_transform(df_train['X6'])
df_train['X8'] = encode.fit_transform(df_train['X8'])

#For testing data
df_test['X0'] = encode.fit_transform(df_test['X0'])
df_test['X1'] = encode.fit_transform(df_test['X1'])
df_test['X2'] = encode.fit_transform(df_test['X2'])
df_test['X3'] = encode.fit_transform(df_test['X3'])
df_test['X4'] = encode.fit_transform(df_test['X4'])
df_test['X5'] = encode.fit_transform(df_test['X5'])
df_test['X6'] = encode.fit_transform(df_test['X6'])
df_test['X8'] = encode.fit_transform(df_test['X8'])

In [10]:
df_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,32,23,17,0,3,24,9,14,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,32,21,19,4,3,28,11,14,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,20,24,34,2,3,27,9,23,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,20,21,34,5,3,27,11,4,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,20,23,34,5,3,12,3,13,...,0,0,0,0,0,0,0,0,0,0

# Checking the columns having zero variance

In [11]:
df_train.var()

ID      5.941936e+06
y       1.607667e+02
X0      1.887419e+02
X1      7.277797e+01
X2      1.188081e+02
            ...
X380    8.014579e-03
X382    7.546747e-03
X383    1.660732e-03
X384    4.750593e-04
X385    1.423823e-03
Length: 378, dtype: float64

In [12]:
#For train dataset
zero_varience_train=df_train.var()
data_zero_varience_train=zero_varience_train[zero_varience_train==0].index
data_zero_varience_train

Index(['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293',
       'X297', 'X330', 'X347'],
      dtype='object')

In [13]:
#For test datset
zero_varience_test=df_test.var()
data_zero_varience_test=zero_varience_test[zero_varience_test==0].index
data_zero_varience_test

Index(['X257', 'X258', 'X295', 'X296', 'X369'], dtype='object')

In [14]:
#Droping the columns having zero varience
df_train.drop(data_zero_varience_train,axis=1,inplace=True)
df_test.drop(data_zero_varience_test,axis=1,inplace=True)

In [15]:
df_train.shape

(4209, 366)

In [16]:
df_test.shape

(4209, 372)

# Seperating training data into X and Y

In [17]:
X=df_train.drop(["ID","y"],axis=1)
Y=df_train["y"]

In [18]:
X.isnull().any().sum()

0

In [19]:
Y.isnull().any()

False

# Standardising the data

In [20]:
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()
scale.fit_transform(X)

array([[ 0.16301209,  1.39348787, -0.02812155, ..., -0.04081511,
        -0.02180363, -0.03778296],
       [ 0.16301209,  1.15902093,  0.15538793, ..., -0.04081511,
        -0.02180363, -0.03778296],
       [-0.71055977,  1.51072134,  1.53170902, ..., -0.04081511,
        -0.02180363, -0.03778296],
       ...,
       [-1.58413164,  1.39348787,  1.89872798, ..., -0.04081511,
        -0.02180363, -0.03778296],
       [-1.51133398,  0.924554  ,  0.70591637, ..., -0.04081511,
        -0.02180363, -0.03778296],
       [ 1.18217927,  0.924554  , -1.31268791, ..., -0.04081511,
        -0.02180363, -0.03778296]])

In [21]:
from sklearn.preprocessing import MinMaxScaler
Mscale=MinMaxScaler()
Mscale.fit_transform(X)

array([[0.69565217, 0.88461538, 0.39534884, ..., 0.        , 0.        ,
        0.        ],
       [0.69565217, 0.80769231, 0.44186047, ..., 0.        , 0.        ,
        0.        ],
       [0.43478261, 0.92307692, 0.79069767, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.17391304, 0.88461538, 0.88372093, ..., 0.        , 0.        ,
        0.        ],
       [0.19565217, 0.73076923, 0.58139535, ..., 0.        , 0.        ,
        0.        ],
       [1.        , 0.73076923, 0.06976744, ..., 0.        , 0.        ,
        0.        ]])

# Applying Dimention Reduction i.e PCA

In [44]:
from sklearn.decomposition import PCA

#for train dataset

pca_train = PCA(n_components=1)
pca_train.fit(X)
x_pca_train = pca_train.transform(X)

#for test dataset

pca_test = PCA(n_components=1)
pca_test.fit(df_test.drop(["ID"],axis=1))
x_pca_test = pca_test.transform(df_test.drop(["ID"],axis=1))



x_pca_train.shape

(4209, 1)

# Splitting the data into X_train and y_train

In [45]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x_pca_train,Y,random_state=0,test_size=0.2)

In [46]:
#Original traing data shape
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(3367, 1)
(842, 1)
(3367,)
(842,)

In [47]:
y_test=np.asarray(y_test)
y_train=np.asarray(y_train)
X_test=np.asarray(X_test)
X_train=np.asarray(X_train)

# Appling XGBoost aligorithm

In [48]:
from xgboost import XGBClassifier
model=XGBClassifier()
model.fit(X_train,y_train)

C:\Users\LENOVO\Anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[10:52:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
       importance_type='gain', interaction_constraints='',
       learning_rate=0.300000012, max_delta_step=0, max_depth=6,
       min_child_weight=1, missing=nan, monotone_constraints='()',
       n_estimators=100, n_jobs=8, num_parallel_tree=1,
       objective='multi:softprob', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=None, subsample=1,
       tree_method='exact', use_label_encoder=True, validate_parameters=1,
       verbosity=None)

In [49]:
y_test=y_test.reshape(842,1)
y_predict=model.predict(y_test)

C:\Users\LENOVO\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_predict)

# Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(X_train,y_train)
y_pred = reg.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score,mean_squared_error
r_squared_score = r2_score(y_test,y_pred)
r_squared_score